name: GSM-Networking CC

on:
  push:
    branches: [ "develop" ]

jobs:
  CD:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Setup Gradls's permission
        run: chmod +x gradlew

      - name: make yml file
        run: |
          rm -rf ./src/main/resources/application-prod.yml
          touch ./src/main/resources/application-prod.yml
          echo ${{ secrets.YML_FILE }} > ./src/main/resources/applicaation-prod.yml

      - name: Run build with Gradle wrapper
        run: ./gradlew clean build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Make zip file
        run: zip -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Upload to S3
        run: aws s3 cp --region ${{ secrets.AWS_REGION }} ./$GITHUB_SHA.zip s3://${{ secrets.BUCKET_NAME }}/$GITHUB_SHA.zip

      - name: Code Deploy
        run: aws deploy create-deployment --application-name gsm-networking-codedeploy --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name gsm-networking --s3-location bucket=${{ secrets.BUCKET_NAME }},bundleType=zip,key=$GITHUB_SHA.zip